name: tox

on:
  push:
  pull_request:
    branches:
      - master
      - develop
  schedule:
    # every sunday at midnight
    - cron:  '0 0 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dev requirements
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements_dev.txt
    - name: Test with tox
      run: tox
